@import "base";

.profile {
  max-width: 1000px;
  width: 100%;
  &__wrapper {
    display: flex;
    justify-content: center;
    padding: $size4 0 $size2 0;
    & button + button {
      margin-left: $size3;
    }
    & button {
      font-family: $font-title;
      font-size: $font-size2;
      background: transparent;
      outline: none;
      border: 1px solid black;
      padding: 0 $size2 $size1 $size2;
      &:hover {
        cursor: pointer;
        transform: scale(1.02);
      }

      & a {
        text-decoration: none;
        outline: none;
        border: none;
        color: black !important;
      }
    }
  }
}