@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Onest:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #FEF6ED;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.header {
  width: 100%;
  padding: 20px 0;
  background: #1A265A;
}
.header__wrapper {
  padding: 0 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header img {
  height: 26px;
}
.header__logo {
  margin-bottom: -10px;
}
.header a {
  text-decoration: none;
  outline: none;
  border: none;
}
.header__button {
  display: flex;
  align-items: center;
}
.header__button:hover {
  transform: scale(1.02);
}
.header__button p {
  padding-left: 5px;
  font-size: 18px;
  font-weight: 400;
  color: white !important;
}

.container {
  padding: 0 10px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 20px;
  }
}
@media (min-width: 992px) {
  .container {
    padding: 0 160px;
  }
}

main {
  min-height: calc(100vh - 66px);
}

footer {
  padding: 20px 0;
  background: #000;
}
footer p {
  color: #fff;
  text-align: center;
  font-size: 16px;
}

.fond__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  padding: 20px 0 5px 0;
}
.fond__info {
  font-size: 21px;
  padding-bottom: 5px;
}
.fond__info span.fonds {
  margin-left: 10px;
}
.fond__info a {
  color: black !important;
}
.fond__text {
  font-family: "Roboto", sans-serif;
  font-size: 21px;
}

.coast {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  font-family: "Onest", sans-serif;
}
.coast__title {
  width: 100%;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  padding: 20px 0 5px 0;
}
.coast.positive {
  color: #12b357;
}
.coast.neutral {
  color: #1A265A;
}
.coast.negative {
  color: #b34709;
}
.coast__img {
  height: 22px;
}
.coast__text {
  font-size: 21px;
  padding: 0 5px;
}
.coast__text span.fonds {
  margin-left: 10px;
}

.chart {
  padding: 10px;
}
.chart__wrapper {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.leaderboard {
  padding: 40px 0;
}
.leaderboard__table {
  margin: 0 auto;
}
.leaderboard__table tr th {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 5px 10px;
}
.leaderboard__table tr th:last-child, .leaderboard__table tr th:first-child {
  font-family: "Onest", sans-serif;
  padding: 5px 10px;
}
.leaderboard__body.self th {
  padding-top: 20px !important;
}
.leaderboard__body th:first-child {
  display: flex;
  justify-content: space-around;
}
.leaderboard__body th:first-child img {
  height: 24px;
}
.leaderboard__body th + th {
  text-align: left;
}
.leaderboard__body th a {
  color: black !important;
}
.leaderboard__caption {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  padding-bottom: 10px;
}

/*# sourceMappingURL=ui_kit.css.map */
