{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="/static/css/loginout.min.css">
{% endblock %}

{% block main %}
<div class="container log">
    <form class="log__form" action="" method="post" enctype=multipart/form-data>
        <p class="log__title">регистрация</p>
        {% if message %}
        {% if result %}
        <p class="message-success">{{message}}</p>
        {% else %}
        <p class="message-error">{{message}}</p>
        {% endif %}
        {% endif %}

        {{ form.hidden_tag() }}

        {{ form.name.label(class="log__label") }}<br>
        {{ form.name(class="log__input-text") }}<br>
        {% for error in form.name.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}

        {{ form.email.label(class="log__label") }}<br>
        {{ form.email(class="log__input-text") }}<br>
        {% for error in form.email.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}

        {{ form.rates.label(class="log__label") }}<br>
        {{ form.rates(class="log__input-text") }}<br>
        {% for error in form.rates.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}

        {{ form.logo.label(class="log__label") }}<br>
        {{ form.logo(class="log__input-file") }}<br>
        {% for error in form.logo.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}

        {{ form.password_1.label(class="log__label") }}<br>
        {{ form.password_1(class="log__input-text") }}<br>
        {% for error in form.password_1.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}

        {{ form.password_2.label(class="log__label") }}<br>
        {{ form.password_2(class="log__input-text") }}<br>
        {% for error in form.password_2.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}

        <div class="log__button-wrapper">
            {{ form.submit(type="submit", class="log__button") }}
        </div>
    </form>
</div>
{% endblock %}