{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="/static/css/ui_kit.min.css">
<link rel="stylesheet" href="/static/css/profile.min.css">
{% endblock %}

{% block main %}
<div class="container">
    <div class="profile">
        <div class="profile__wrapper">
            <button class="profile__button">
                <a href="/user/work/">Создать упражнения</a>
            </button>
            <button class="profile__button">
                <a href="/user/fonds/">Страница фондов</a>
            </button>
        </div>
    </div>

    <p class="coast__title">Kokoc благотворительность</p>
    <div class="coast neutral">
        <p class="coast__text">{{ coast }} ₽ </p>
    </div>

    <div id="charts">

    </div>

    <div id="fonds">
        {% for fond in fonds %}
        <p class="coast__title">{{ fond.name }}</p>
        <div class="coast neutral">
            <p class="coast__text">{{ fond.required_amount }} ₽ <span class="fonds">{{ fond.collected_amount / fond.required_amount * 100}}%</span></p>
        </div>
        {% endfor %}
    </div>

    <div class="leaderboard">
        <table class="leaderboard__table">
            <caption class="leaderboard__caption">Лучшие работники компании</caption>
            <tr class="leaderboard__header">
                <th>Место</th>
                <th>Имя</th>
                <th>Сумма</th>
            </tr>
            {% for user in users %}
            {% if (loop.index <= 10) %}
            <tr class="leaderboard__body">
                <th>{{ loop.index }}<img src="/static/img/ribbon.svg" alt="награда"></th>
                <th><a class="leaderboard__href" href="/user/profile/{{user.id}}">{{ user.name }}</a></th>
                <th>{{ user.balance }} ₽</th>
            </tr>
            {% elif id == user_id %}
            <!-- место работника в рейтинге -->
            <tr class="leaderboard__body self">
                <th>{{ loop.index }}</th>
                <th><a class="leaderboard__href" href="/user/profile/{{user.id}}">{{ user.name }}</a></th>
                <th>{{ user.balance }} ₽</th>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const user_email = "{{user_email}}"
</script>
<script src="/static/js/chart.js"></script>
{% endblock %}