{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="/static/css/ui_kit.min.css">
{% endblock %}

{% block main %}
<div class="container">
    <p class="coast__title">Kokoc благотворительность</p>
    {% if increment > 5 %}
    <div class="coast positive">
        <img class="coast__img" src="/static/img/up.svg" alt="вверх">
        <p class="coast__text">{{ coast }} ₽ <span>+{{ increment }}%</span></p>
    </div>
    {% elif increment < 5 %}
    <div class="coast negative">
        <img class="coast__img" src="/static/img/down.svg" alt="вниз">
        <p class="coast__text">{{ coast }} ₽ <span>{{ increment }}%</span></p>
    </div>
    {% else %}
    <div class="coast neutral">
        <img class="coast__img" src="/static/img/refresh.svg" alt="эквивалентно">
        {% if increment >= 0%}
        <p class="coast__text">{{ coast }} ₽ <span>+{{increment}}%</span></p>
        {% else %}
        <p class="coast__text">{{ coast }} ₽ <span>{{increment}}%</span></p>
        {% endif %}
    </div>
    {% endif %}

    <div id="charts">

    </div>

    <div id="fonds">
        {% for id, name, desc, coast, fill, have in user_fonds %}
        {% if have %}
        <p class="coast__title">{{ name }}</p>
        <div class="coast neutral">
            <p class="coast__text">{{ coast }} ₽ <span class="fonds">{{ fill }}%</span></p>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <div class="leaderboard">
        <table class="leaderboard__table">
            <caption class="leaderboard__caption">Лучшие работники компании</caption>
            <tr class="leaderboard__header">
                <th>Место</th>
                <th>Имя</th>
                <th>Сумма</th>
            </tr>
            {% for nick, coast, id in leaderboard %}
            {% if (loop.index <= 10) %}
            <tr class="leaderboard__body">
                <th>{{ loop.index }}<img src="/static/img/ribbon.svg" alt="награда"></th>
                <th><a class="leaderboard__href" href="/user/{{id}}">{{ nick }}</a></th>
                <th>{{ coast }} ₽</th>
            </tr>
            {% elif id == user_id %}
            <!-- место работника в рейтинге -->
            <tr class="leaderboard__body self">
                <th>{{ loop.index }}</th>
                <th><a class="leaderboard__href" href="/user/{{id}}">{{ nick }}</a></th>
                <th>{{ coast }} ₽</th>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const user_email = "{{user_email}}"
</script>
<script src="/static/js/chart.js"></script>
{% endblock %}