{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="/static/css/ui_kit.min.css">
{% endblock %}

{% block main %}
<div class="container">
    {% for fond in fonds %}
    <p class="fond__title">{{ fond.name }}</p>
    <p class="fond__info">{{ fond.required_amount }} ₽ <span class="fonds">{{ fond.collected_amount / fond.required_amount * 100}}%</span> <a href="/fond/spend/{{fond.id}}">Пожертвовать</a></p>
    <p class="fond__description">{{desc}}</p>
    {% endfor %}
</div>
{% endblock %}
